name: terraform

on:
  pull_request:
    paths:
      - "infra/**"
      - ".github/workflows/terraform.yml"
  push:
    branches: ["main"]
    paths:
      - "infra/**"
      - ".github/workflows/terraform.yml"
  workflow_dispatch: {}

permissions:
  id-token: write
  contents: read

env:
  AWS_REGION: us-east-1

jobs:
  plan:
    if: github.event_name != 'workflow_dispatch'
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: infra
    steps:
      - uses: actions/checkout@v4

      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.6.0"

      - uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: 
          aws-region: ${{ env.AWS_REGION }}

      - name: Terraform fmt
        run: terraform fmt -check -recursive

      - name: Terraform init
        run: terraform init

      - name: Terraform validate
        run: terraform validate

      - name: Terraform plan
        run: terraform plan -no-color

  apply:
    if: github.event_name == 'workflow_dispatch'
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: infra
    steps:
      - uses: actions/checkout@v4

      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.6.0"

      - uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: 
          aws-region: ${{ env.AWS_REGION }}

      - name: Terraform init
        run: terraform init

      - name: Terraform apply
        run: terraform apply -auto-approve -target=module.lambda_api -target=module.lambda_worker -target=module.api -target=module.dynamodb -target=module.queue